@import url('https://fonts.googleapis.com/css?family=Pangolin&subset=latin-ext');
/* GENERAL */
.container {
    max-width: 500px;
    background: #e6e6e6;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.row {
    padding: 0 15px;
}

/* INSIDE MEM */
#mem {
    background: url('http://lorempixel.com/500/300') center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 300px;
    position: relative;
}

.div-top-text,
.div-bottom-text {
    position: absolute;
    left: 15px;
    right: 15px;
    max-width: 470px;
    margin: auto;
    font-family: 'Pangolin', cursive;
    text-transform: uppercase;
}

.div-top-text {
    top: 15px;
}

.div-bottom-text {
    bottom: 15px;
}

.text-top,
.text-bottom {
    text-align: center;
    font-size: 32px;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
}

.text-top {
    top: 30px;
}

.text-bottom {
    bottom: 30px;
}

/* AFTER MEM */
label {
    min-width: 90px;
}

#change-img-link,
#change-top-text,
#change-bottom-text {
    height: 40px;
    margin: 20px auto;
    padding: 0 15px;
    min-width: calc(100% - 110px);
    border-color: rgba(0, 0, 0, 0.40);
}

#change-img-link:focus,
#change-top-text:focus,
#change-bottom-text:focus {
    border-color: transparent;
}

#change-img-link::placeholder {
    color: red;
}

.btn {
    display: inline-block;
    margin: auto;
}

@media (max-width: 768px) {
    .container {
        margin-top: 15px;
    }
}